h1 {
    text-align: center;
}

.row {
    width: 100%;
}

.box1, .box2, .box3 {
    background-color: #a52a2a;
    height: auto;
    margin: 2px;
    font-family: cursive;
}

h4 {
    border: 1px solid black;
    background-color: wheat;
    color: black;
    padding: 5px;
    margin: 5px;
    float: right;
}

p {
    clear: both;
    color: blanchedalmond;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 7px;
    margin-bottom: 2px;
    padding: 2px;
}
